<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headers}}
    <title>Weather App</title>
    {{>styles}}
  </head>
  <body>
    {{>navbar}}
    <h1>404 Error page not found</h1>
    {{>footer}}
  </body>
</html>