<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headers}}
    <title>Weather App</title>
  </head>
  {{>styles}}
  <body>
    {{>navbar}}
    <!-- main-header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="Images/mypic-removebg.png" alt="" class="img-fluid" title="Vikash Bharal">
                   </figure>
            </div>
            <!-- left-side -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to the Vikash Bharal World</p>
              <h1>
                I Am A <span class="text_clr">Mern Stack Developer</span>, Blogger and Open Source Contributor
              </h1>
              <a href="/weather"
                ><button class="btn btn-primary mt-3">About me</button></a
              >
            </div>
            <!-- right-side -->
           
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>
